######################################################################
# Customized homing
######################################################################
#; home y first to prevent left stepper from blocking endstop on x
#[homing_override]
#set_position_z:0
#gcode:
#    G1 Z5 f1000
#    G28 Y
#    G1 Z5
#    G28 X
#    G1 x150 y193 f3000
#    G28 Z
#    G1 Z9
#axes: Z    

# Safe Z homing. One may use this mechanism to home the Z axis at a
# specific XY coordinate. This is useful if the toolhead, for example
# has to move to the center of the bed before Z can be homed.

[gcode_macro G29]
gcode:
	G28
	G1 Z10 F600
	BED_MESH_CALIBRATE
	BED_MESH_PROFILE save=textured
	
[safe_z_home]
home_xy_position: 150,111.24
speed: 50.0
z_hop: 10	#move up 10mm
z_hop_speed: 5
#move_to_previous: True

